<div class="app-container">
<app-layout>

  <app-sidenav [open]="(showSidenav$ | async)!" (closeMenu)="closeSidenav()">
    <app-nav-item
      (navigate)="closeSidenav()"
      [routerLink]="['artists']"
      [queryParams]="{
      q: ''
      }"
      routerLinkActive="active-link"
      icon="person_search"
    >
      Browse Artists
    </app-nav-item>
  </app-sidenav>

  <app-toolbar (openMenu)="openSidenav()">
  </app-toolbar>
  <ngx-ui-loader></ngx-ui-loader>
  <router-outlet></router-outlet>
</app-layout>

</div>
