<app-layout>
  <app-toolbar (openMenu)="openSidenav()">
  </app-toolbar>
  <app-sidenav [open]="(showSidenav$ | async)!" (closeMenu)="closeSidenav()">
    <app-nav-item
      (navigate)="closeSidenav()"
      routerLink="/"
      routerLinkActive="active-link"
      icon="groups"
    >
      My Artist Collection
    </app-nav-item>
    <app-nav-item
      (navigate)="closeSidenav()"
      routerLink="/artists/search"
      routerLinkActive="active-link"
      icon="person_search"
    >
      Browse Artists
    </app-nav-item>
  </app-sidenav>
  <ngx-ui-loader></ngx-ui-loader>
  <router-outlet></router-outlet>

</app-layout>
