/* You can add global styles to this file, and also import other style files */
//@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';
@import "deezer-theme";
@import '~@vime/core/themes/default.css';
html, body { }
body { padding: 0; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #4c4e54;
}

.backdropBackground {
  background-color: rgba(0, 0, 0, 0.82);
}

.grid {
  margin-top: 33px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(320px, 100%), 1fr));
}

.grid > * {
  border-radius: 5px;
  margin: 10px;
}

